.gradle
build
!gradle/wrapper/gradle-wrapper.jar

.idea
*.iws
*.iml
*.ipr
out
logs/**
target
.DS_Store
logs/
classes/
lib/
.classpath
.project
.settings
.metadata
.factorypath
*.local.bin
*.local.tracker
bin
build.log
manifest.yml
MANIFEST.MF
settings.xml
data/
*.sw?
.#*
*#
*~

